/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,100;1,200;1,400;1,500&display=swap');
/* start general css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 32px;
    list-style: none;
    text-decoration: none;
    max-width: 100%;
}
section{
    padding: 50px 10%;
}
:root{
    --text-color: #000000;
    --main-color: #83b735;
}
/* end general css */


/* start header */
header{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #edecea;
    width: 100%;
    padding: 18px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
    font-size: 19.2px;
    font-weight: 600;
    color: var(--text-color);
}
header .logo span{
    color: var(--main-color);
}
header #menu-icon{
    font-size: 32px;
    cursor: pointer;
    display: none;
}
header .navbar{
    position: relative;
    display: flex;
}
header .navbar a{
    font-size: 16px;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
header .navbar a:hover{
    color: var(--main-color);
    letter-spacing: 1.2px;
}
/* end header */


/* start home section  */
.home{
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
.home .home-text h1{
    font-size: 43.2px;
}
.home .home-text p{
    font-size: 15px;
    margin: 6.4px  0px  28.8px;
    width: 45%;
}
.home .home-text span{
    color: var(--main-color);
}
.btnShop{
    padding: 10px 14px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 4.8px;
    -webkit-border-radius: 4.8px;
    -moz-border-radius: 4.8px;
    -ms-border-radius: 4.8px;
    -o-border-radius: 4.8px;
    font-size: 14px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.btnShop:hover{
    border: 1.5px solid var(--main-color);
    background-color: transparent;
    color: var(--main-color);
}
/* end home section  */


/* start shop section  */
.heading{
    text-align: center;
    margin: 30px 0;
}
.heading span{
    text-transform:uppercase;
    color: var(--main-color);
    font-size: 14px;
    font-weight: 500;
}
.shop-container,.new-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    margin-top: 32px;
    gap: 16px;
}
.box{
    position: relative;
    box-shadow: 1px 4px 4px rgb(0, 0, 0,0.1);
    border-radius: 44px 4px 4px 4px;
    -webkit-border-radius: 44px 4px 4px 4px;
    -moz-border-radius: 44px 4px 4px 4px;
    -ms-border-radius: 44px 4px 4px 4px;
    -o-border-radius: 44px 4px 4px 4px;
}
.box .box-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 44px 4px 0 0;
    -webkit-border-radius: 44px 4px 0 0;
    -moz-border-radius: 44px 4px 0 0;
    -ms-border-radius: 44px 4px 0 0;
    -o-border-radius: 44px 4px 0 0;
    cursor: pointer;
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.box .box-img img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.shop-container .title-price{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.shop-container .title-price h3{
    font-size: 16px;
    font-weight: 600;
}
.box span{
    font-size: 17.6px;
    font-weight: 500;
    padding: 12px;
    color: var(--main-color);
}
.box .title-price .stars .bx{
    color: var(--main-color);
}
.box .bxs-cart-alt{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 7px;
    background-color: var(--main-color);
    border-radius: 4px 0 4px 0;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    -ms-border-radius: 4px 0 4px 0;
    -o-border-radius: 4px 0 4px 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.box .bxs-cart-alt:hover{
    background-color: #4e7e07;
}
/* end shop section  */


/* start new arrival section  */
.new-container .box{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.new-container .box .box-img{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.new-container .box .title-price{
    margin-top: 13px;
    margin-left: 13px;
}
.new-container .box .title-price h3{
    font-size: 16px;
    font-weight: 600;
}
/* end new arrival section  */


/* start about section  */
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
}
.about .about-img img{
    width: 80%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    object-fit: contain;
}
.about .about-text span{
    font-size: 14px;
    color: var(--main-color);
    font-weight: 500;
    text-transform: uppercase;
}
.about .about-text p{
    font-size: 15px;
    margin: 8px 0 22.4px;
}
/* end about section  */


/* start Brands section  */
.brands-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 32px;
}
.brands-container img{
    width: 100px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.brands-container img:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}
/* end Brands section  */


/* start contact section  */
.newsletter{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.newsletter h2{
    color: #fff;
}
.news-box{
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.news-box input{
    border: none;
    outline: none;
    background-color: #fff;
    padding: 10px;
    width: 260px;
    height: 44px;
}
.news-box .btnShop{
    height: 44px;
    font-weight: 500;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    text-transform: uppercase;
    padding: 11px;
}
/* end contact section  */

/* start footer  */
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 16px;
}
.footer-box h2{
    font-size: 19.2px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box span{
    color: var(--main-color);
}
.footer-box p {
    font-size: 15px;
    margin-bottom: 10px;
    width: 70%;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    margin-right: 10px;
    color: var(--text-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.social .facebook:hover{
    color: 	#3b5998;
}
.social .twitter:hover{
    color: #55acee;
}
.social .instagram:hover{
    color: #c32aa3;
}
.footer-box h3{
    font-weight: 500;
    margin-bottom: 10px;
}
.footer-box li a{
    color: var(--text-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.footer-box li a:hover{
    color: var(--main-color);
}
.contact-info{
    display: flex;
    flex-direction: column;
}
.contact-info span{
    color: var(--text-color);
}
.copyright{
    padding: 20px;
    text-align: center;
    font-size: 13px;
}
/* end footer  */


/* make responsive */



